<div class="container">
    <div class="panel panel-primary">
      <div class="row border-bottom pb-3 mb-3">
        <div class="col-md-12">
          <h1>New Widget Example Form</h1>
        </div>
      </div>

      <form>
        <div class="row border-bottom pb-3 mb-3">
        <div class="form-group">
          <div class="col-md-6 offset-md-3">
            <div class="form-group">
              <div class="input-group input-group-sm">
                <label class="col-md-4 col-form-label" for="model">Model</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="model" [(ngModel)]="widget.model" name=model #name="ngModel">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 offset-md-3">
            <div class="form-group">
              <div class="input-group input-group-sm">
                <label class="col-md-4 col-form-label" for="contactId">Contact</label>
                <div class="col-md-8">
                  <select
                    [disabled]="loading"
                    id="contactId"
                    class="form-select form-select-md mt-3"
                    aria-label=".form-select-lg example"
                    [ngModel]="selectedContact"
                    [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="contactChange($event)"
                  >
                    <option *ngFor="let c of allContacts$ | async" [ngValue]="c">
                      {{ c.Title ? c.Name + ' (' + c.Title + ')' : c.Name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      </form>

      <div *ngIf="selectedContact" class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Contact Information</div>
        <div class="card-body">
          <h5 class="card-title">{{selectedContact.Name}}</h5>
          <div class="card-text">Department: {{selectedContact.Department ? selectedContact.Department : '(n/a)'}}</div>
          <div class="card-text">Title: {{selectedContact.Title ? selectedContact.Title : '(n/a)'}}</div>
          <div class="card-text">id: {{selectedContact.id}}</div>
        </div>
      </div>
  </div>
</div>
